@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto Condensed", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto Condensed", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  color: #202020;
}

.overflow-hidden {
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 100%;
  margin: 5% 6% 2%;
}

button:active,
button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fullscreen {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  background: rgba(0, 0, 0, 0.74);
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup__body {
  background: url("../img/menu/pop-up.png") center/cover no-repeat;
  position: relative;
  width: 764px;
  height: 452px;
  -webkit-transition: 1s 0.8s ease 0s;
  -o-transition: 1s 0.8s ease 0s;
  transition: 1s 0.8s ease 0s;
  border-radius: 10px;
}

.popup__content {
  width: 100%;
  height: 100%;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 40px;
  padding-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup-close {
  position: absolute;
  padding: 10px;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.popup__top {
  font-family: Philosopher;
  color: #373737;
}

.popup__title {
  font-size: calc(16px + 2 * ((100vw - 320px) / 1600));
  line-height: 20px;
  padding-bottom: 6px;
}

.popup__subtitle {
  font-size: calc(22px + 6 * ((100vw - 320px) / 1600));
  line-height: 31px;
  color: #373737;
  padding-bottom: 30px;
}

.popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.popup__input {
  background: #F8F8F8;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0px 4px 4px rgba(149, 149, 149, 0.24);
          box-shadow: inset 0px 4px 4px rgba(149, 149, 149, 0.24);
  border-radius: 7px;
  max-width: 400px;
  height: 54px;
  padding-left: 25px;
  font-size: 18px;
  line-height: 21px;
  color: #959595;
  margin-bottom: 20px;
}

.popup__input:last-child {
  margin-bottom: 35px;
}

.popup__button {
  color: #423A2A;
  text-shadow: 0px 1px 0px #B99C5D;
  margin-bottom: 20px;
}

.popup__info {
  font-weight: 300;
  font-size: calc(10px + 2 * ((100vw - 320px) / 1600));
  line-height: 14px;
  color: #373737;
  max-width: 325px;
}

.popup__info a {
  color: #B99C5D;
  text-decoration: underline;
}

.open {
  opacity: 1;
  visibility: visible;
}

.popup-thanks__body {
  background: url("../img/menu/pop-up-thanks.png") center/cover no-repeat;
}

.popup-thanks__logo {
  display: block;
  text-align: center;
  padding-bottom: 57px;
}

.popup-thanks__logo img {
  margin: auto;
}

.popup-thanks__top {
  font-family: Philosopher;
  color: #373737;
}

.popup-thanks__title {
  font-size: calc(24px + 4 * ((100vw - 320px) / 1600));
  line-height: 31px;
  padding-bottom: 15px;
}

.popup-thanks__subtitle {
  line-height: 20px;
  font-size: calc(16px + 2 * ((100vw - 320px) / 1600));
  padding-bottom: 70px;
}

.popup-thanks__socials-text {
  font-size: calc(10px + 2 * ((100vw - 320px) / 1600));
  line-height: 14px;
  display: inline-block;
  padding-bottom: 10px;
}

.popup-thanks__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup-thanks__socials img {
  padding-right: 20px;
}

.popup-thanks-steps__subtitle {
  font-family: Philosopher;
  color: #373737;
  max-width: 305px;
  max-height: 120px;
}

.popup__video-content {
  padding: 20px;
}

.popup__video-content iframe {
  border-radius: 10px;
}

.videos-block {
  width: 100%;
  height: 100%;
  position: relative;
}

.popup__video-close {
  right: -5px;
  top: -5px;
}

.menu-button {
  position: relative;
  height: 1.45833vw;
  width: 2.29167vw;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu-button__line {
  position: absolute;
  height: 0.15625vw;
  width: 2.29167vw;
  margin-top: -1px;
  margin-left: -10px;
  border-radius: 2px;
  background-color: #335393;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.menu-button__line:nth-child(1) {
  -webkit-transform: translateY(-0.625vw);
      -ms-transform: translateY(-0.625vw);
          transform: translateY(-0.625vw);
}

.menu-button__line:nth-child(3) {
  -webkit-transform: translateY(0.625vw);
      -ms-transform: translateY(0.625vw);
          transform: translateY(0.625vw);
}

.line_active span {
  background-color: #000000;
}

.line_active span:nth-child(1) {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.line_active span:nth-child(2) {
  height: 0;
}

.line_active span:nth-child(3) {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mobile__navbar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.74);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
}

.menu-mobile__body {
  padding-top: 3%;
  padding-left: 50px;
  background: url("../img/menu/bg.png") center/cover no-repeat;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  margin-left: auto;
  height: 100%;
  min-width: 1150px;
}

.menu-mobile__content {
  max-width: 850px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.menu-mobile__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 54px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-mobile__columns {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -10px;
}

.menu-mobile__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  padding: 0px 10px 30px;
}

.menu-mobile__column-title {
  font-family: Philosopher;
  font-size: calc(18px + 2 * ((100vw - 320px) / 1600));
  line-height: 22px;
  color: #373737;
  padding-bottom: 10px;
  padding-right: 10px;
  border-bottom: 0.5px solid #959595;
  margin-bottom: 25px;
  display: inline-block;
  text-transform: uppercase;
}

.menu-mobile__links li a {
  font-size: calc(18px + 2 * ((100vw - 320px) / 1600));
  line-height: 23px;
  color: #373737;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block;
  margin-bottom: 20px;
}

.menu-mobile__links li a:last-child {
  padding-bottom: 0;
}

.menu-mobile__links li a:hover {
  border-bottom: 0.5px solid #B99C5D;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #B99C5D;
}

.mobile-column__contacts {
  padding-bottom: 40px;
  display: inline-block;
  position: relative;
  color: #373737;
  font-weight: 500;
}

.mobile-column__contacts:after {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 0px;
  display: block;
  width: 179px;
  height: 1px;
  background-color: #959595;
}

.mobile-column__contacts a {
  color: #373737;
}

.mobile-column__contacts:last-child {
  padding-bottom: 0;
  border-bottom: 0px solid #000;
}

.mobile-column__contacts:last-child:after {
  height: 0px;
}

.mobile-location__top {
  padding-bottom: 15px;
}

.mobile-location {
  position: relative;
  padding-left: 20px;
}

.mobile-location img {
  position: absolute;
  left: 0;
  top: 5px;
}

.mobile-location__text-top {
  font-weight: 300;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
  line-height: 16px;
}

.mobile-location__text-bottom {
  display: block;
  font-weight: 500;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: 19px;
}

.mobile-column__socials a picture img {
  display: inline-block;
  padding-right: 15px;
}

.mobile-column__socials a:last-child picture img {
  padding-right: 0px;
}

.header {
  background: url("../img/bg.png") center/100% no-repeat;
  min-height: 57.29167vw;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2.8125vw;
  margin-top: 1.04167vw;
  padding-right: 12.5vw;
  padding-left: 12.5vw;
  padding-bottom: 9.47917vw;
}

.menu-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  padding-right: 4.0625vw;
}

.header__logo {
  height: 3.54167vw;
}

.header__logo img {
  height: 100%;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.phone {
  font-weight: 600;
  font-size: 1.35417vw;
  line-height: 1.875vw;
  text-align: right;
  color: #202020;
}

.time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.67708vw;
  line-height: 130%;
  padding-bottom: 0.36458vw;
}

.time img {
  vertical-align: middle;
}

.social-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.social-link {
  margin-right: 0.78125vw;
  width: 1.25vw;
  height: 1.25vw;
}

.social-link img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.social-link:last-child {
  margin: 0px 0px 0px 0px;
}

.header__content {
  margin-left: 12.5vw;
  margin-right: 12.5vw;
}

.slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.83333vw;
}

.slogan img {
  vertical-align: middle;
}

.slogan__text {
  font-size: 0.72917vw;
  line-height: 130%;
  color: #335393;
  padding-left: 0.52083vw;
}

.title {
  max-width: 39.0625vw;
  font-weight: 500;
  font-size: 2.70833vw;
  line-height: 3.69792vw;
  padding-bottom: 1.04167vw;
}

.subtitle {
  font-weight: 500;
  font-size: 1.25vw;
  line-height: 1.71875vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__subtitle {
  padding-bottom: 3.54167vw;
}

.header__subtitle img {
  vertical-align: middle;
  padding-right: 0.57292vw;
}

.subtitle__text {
  color: #335393;
}

.blog-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24.6875vw;
  height: 6.66667vw;
  padding: 0.88542vw 0.67708vw;
  margin-bottom: 3.64583vw;
  background: url("../img/bg-info.png") center/100% 100% no-repeat;
}

.blog-info img {
  padding-right: 0.67708vw;
  vertical-align: middle;
  height: 3.95833vw;
}

.blog-info__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.83333vw;
  line-height: 130%;
}

.blog-info__title {
  font-weight: 600;
}

.blog-info__subtitle {
  padding-bottom: 0.26042vw;
  font-weight: 400;
  display: block;
}

.blog-info__link {
  color: #335393;
}

.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.60417vw;
}

.button {
  width: 12.13542vw;
  height: 3.02083vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  border-bottom: 0.15625vw solid #335393;
  background: -webkit-gradient(linear, left top, left bottom, from(#A2D2F5), color-stop(0.01%, #84AEEE), color-stop(94.79%, #4369B3));
  background: -o-linear-gradient(top, #A2D2F5 0%, #84AEEE 0.01%, #4369B3 94.79%);
  background: linear-gradient(180deg, #A2D2F5 0%, #84AEEE 0.01%, #4369B3 94.79%);
  font-weight: 600;
  font-size: 0.72917vw;
  line-height: 130%;
  color: #FFFFFF;
}

.button-header {
  position: relative;
  margin-right: 0.57292vw;
}

.button-header:after {
  content: '';
  display: block;
  padding: 10%;
  position: absolute;
  top: -1.04167vw;
  right: -0.9375vw;
  background: url("../img/calc.png") center/cover no-repeat;
}

.button-decor {
  margin-right: -0.52083vw;
  padding-top: 1.30208vw;
}

.button-description {
  font-size: 0.67708vw;
  line-height: 130%;
  color: #335393;
  position: relative;
}

.block-scroll {
  -webkit-transform: rotate(-90deg) translateX(-100%);
      -ms-transform: rotate(-90deg) translateX(-100%);
          transform: rotate(-90deg) translateX(-100%);
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12.5vw;
  width: 7.29167vw;
}

.block-scroll img {
  height: 0.3125vw;
  vertical-align: middle;
  margin-right: 0.52083vw;
}

.text-scroll {
  white-space: nowrap;
  font-family: Roboto;
  font-size: 0.625vw;
  line-height: 0.72917vw;
  color: #335393;
}

.hide {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.show {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.hide_abs {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  position: absolute;
}

.show_rel {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  position: relative;
}

.display_none {
  display: none;
}

.err {
  border: 1px solid red;
}

.padding_none {
  padding-bottom: 0px !important;
}

.spoiler_none,
.accordion-spoiler_none {
  display: none;
}

.spoiler_active,
.accordion-spoiler_active {
  display: block;
}

.spoiler_active .service-price__logo:after,
.spoiler_active .service-price__logo:before,
.accordion-spoiler_active .service-price__logo:after,
.accordion-spoiler_active .service-price__logo:before {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.spoiler_active .service-price__logo:before,
.accordion-spoiler_active .service-price__logo:before {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.spoiler_active .service-price__logo:after,
.accordion-spoiler_active .service-price__logo:after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spoiler_active .price-item__cost:after,
.spoiler_active .price-item__cost:before,
.accordion-spoiler_active .price-item__cost:after,
.accordion-spoiler_active .price-item__cost:before {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.spoiler_active .price-item__cost:before,
.accordion-spoiler_active .price-item__cost:before {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.spoiler_active .price-item__cost:after,
.accordion-spoiler_active .price-item__cost:after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.accordion-spoiler_active.accordion__top:after {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(-50%) rotate(90deg);
      -ms-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}

.content-present-item-4__select-title.spoiler_active:after,
.content-present-item-4__select-title.spoiler_active:before {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.content-present-item-4__select-title.spoiler_active:before {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.content-present-item-4__select-title.spoiler_active:after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.scrollbar-thumb {
  background: #D9BD89 !important;
  width: 6px  !important;
}

.scrollbar-track-y {
  width: 6px !important;
  background: #EEEEEE !important;
  border-radius: 4px !important;
}

.main-content-steps-top__left .scrollbar-track-y {
  right: 10px !important;
  top: 20px !important;
  height: 220px !important;
}

.content-price-form__range {
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  min-width: 200px;
}

.content-price-form__range-input {
  max-width: 80px;
  margin-right: 15px;
  max-height: 42px;
  margin-bottom: 0;
}

.range-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.range-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.content-price-form__range {
  margin-bottom: 30px;
}

.ui-slider.ui-slider-horizontal {
  position: relative;
  height: 7px;
  border: none;
  background: #F9F9F9;
  border-radius: 12px;
}

.ui-slider .ui-slider-handle {
  width: 15px;
  height: 15px;
  background: url("../img/price/range.svg") 0 0 no-repeat;
  position: absolute;
  border-right: none;
  top: -3px;
  margin-left: -5px;
  cursor: pointer;
}

.ui-slider .ui-slider-range {
  background: -o-linear-gradient(267.26deg, #DAB171 -6.32%, #F3DEAD -6.31%, #F4E6CB 36.24%, #D9BD89 78.81%);
  background: linear-gradient(182.74deg, #DAB171 -6.32%, #F3DEAD -6.31%, #F4E6CB 36.24%, #D9BD89 78.81%);
  height: 7px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.ymaps-2-1-77-controls__control {
  right: 10px !important;
  left: auto !important;
  top: 40px !important;
}

.ymaps-2-1-77-zoom {
  z-index: 999;
}

.ymaps-2-1-77-controls__toolbar,
.ymaps-2-1-77-copyrights-pane {
  display: none;
}

.ymaps-2-1-77-ground-pane {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  filter: url(/img/filters.svg#grayscale);
  -webkit-filter: grayscale(1);
}

.ymaps-2-1-77-balloon__tail {
  display: none !important;
}

.ymaps-2-1-77-balloon {
  border-radius: 10px;
  top: 40px !important;
  left: -150px !important;
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 0 5px 15px -7px rgba(255, 255, 255, 0.5) !important;
          box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 0 5px 15px -7px rgba(255, 255, 255, 0.5) !important;
}

.ymaps-2-1-77-balloon:before {
  content: 'Адрес';
  display: block;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  top: -53%;
  padding-top: 6px;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1600));
  line-height: 19px;
  width: 174.03px;
  border-radius: 10px;
  height: 28px;
  position: absolute;
  background: #fff url("../img/footer/map.svg") top 8px left 43px/14px 14px no-repeat;
}

.ymaps-2-1-77-balloon__content {
  text-align: center;
  font-family: Gilroy !important;
}

.map__baloon {
  font-weight: 500;
  font-size: calc(16px + 4 * ((100vw - 320px) / 1600));
  line-height: 137.5%;
  display: block;
  position: relative;
}

.map__baloon-2 {
  font-weight: 300;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1600));
  color: #373737;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
    margin: auto;
  }
}

@media (max-width: 1170px) {
  .menu-mobile__body {
    padding: 3% 5%;
    min-width: 100%;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    min-width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 767.98px) {
  .menu-mobile__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 576.98px) {
  .menu-mobile__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.webp .popup__body{ background: url(../img/menu/pop-up.webp) center/cover no-repeat; }

.webp .popup-thanks__body{ background: url(../img/menu/pop-up-thanks.webp) center/cover no-repeat; }

.webp .menu-mobile__body{ background: url(../img/menu/bg.webp) center/cover no-repeat; }

.webp .header{ background: url(../img/bg.webp) center/100% no-repeat; }

.webp .blog-info{ background: url(../img/bg-info.webp) center/100% 100% no-repeat; }

.webp .button-header:after{ background: url(../img/calc.webp) center/cover no-repeat; }